@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import "tailwindcss";

html,
body,
#root {
  min-height: 100vh;
  background-color: #1a1717;
  width: 100%;
  overflow-x: hidden;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-5px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.shape-overlays {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  /*   top: 0; ight: 0; bottom: 0; left: 0; */
  pointer-events: none;
}



.cinematic {
  position: relative;
  /* REQUIRED */
  width: 100vw;
  height: 200vh;
  overflow: hidden;
}

.half {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.top {
  position: sticky;
  top: 0;
  background-image: url("./assets/img/whale.webp");
}

.bottom {
  background-image: url("./assets/img/red.webp");
}

.video-overlay {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: min(90vw, 600px);
}

.video-overlay-2 {
  position: absolute;
  top: 90vh;
  /* neeche ya jahan chahiye */
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  /* pehle se upar aana chahiye */
  width: min(90vw, 600px);
}
.fly-arrow {
  position: fixed;
  bottom: 90px;      /* button ke paas */
  right: 50%;
  font-size: 28px;
  color: white;
  animation: flyToCart 1.1s ease-in-out forwards;
  z-index: 9999;
}

@keyframes flyToCart {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(300px, -400px) scale(0.3);
    opacity: 0;
  }
}
